In [ ]:
import os
import pandas as pd
import numpy

In [ ]:
## The Hinglish Offensive Dataset
#!wget https://github.com/ramitsawhney27/OffensiveHinglishTweetClassification/blob/master/HOT_Dataset_modified.csv

--2020-10-06 10:04:21--  https://github.com/ramitsawhney27/OffensiveHinglishTweetClassification/blob/master/HOT_Dataset_modified.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘HOT_Dataset_modified.csv.1’

HOT_Dataset_modifie     [  <=>               ]   4.15M  19.9MB/s    in 0.2s

2020-10-06 10:04:22 (19.9 MB/s) - ‘HOT_Dataset_modified.csv.1’ saved [4349440]

In [ ]:
#shot = pd.concat([HOT['0'],HOT['@saud5683 @Mutayyab420 @shivang598 @Ranask35 @milkygaay @Aapaawaambaa @thetanmay @INCIndia Haa jaise tum bhi abhi p\\xe2\\x80\\xa6 https://t.co/wZmXZPIMTD']], axis = 1)

In [ ]:
#hot.columns = ['isoffensive', 'tweets']

hot = hot.dropna()
hot.shape
hot.index = range(3188)
hot.head

<bound method NDFrame.head of       isoffensive                                             tweets
0             2.0  banti hai empowered woman, feminism pe gyan pe...
1             2.0  rt user user user ab usko chhod mjse bat kr te...
2             2.0  user user user punjab in madarchodon ko khila ...
3             2.0  rt user agar koi bole ki ja ke chill maar to m...
4             1.0  user user user main jutt punjabi hoon aur paka...
...           ...                                                ...
3183          1.0  user user user user user ye dekha tera islamic...
3184          1.0     user all love jihaadi should ne killed aise hi
3185          1.0  user user user user user ye dekh madarjaat, ra...
3186          1.0  user user user user user user waise jihaadi ku...
3187          1.0  user user kya madam, abhi tak apne , aapne hin...

[3188 rows x 2 columns]>

In [ ]:
hot.tweets[743]

'rt user stonebwoy album out now here link link'

In [ ]:
hot.tweets[2134]

'user in deed'

In [ ]:
import re

def preprocess(text):
  l = re.sub(r'&', '', text)
  m = re.sub(r'RT ', '', l)
  n = re.sub(r'~', '', m)
  o = re.sub(r'#', '', n)
  p = re.sub(r'!+', '', o)
  q = re.sub(r'(http[s]?\S+)|(\w+\.[A-Za-z]{2,4}\S*)', 'link', p)
  r = re.sub(r'[*]', '', q)
  s = re.sub(r'[@]\w+', 'user', r)
  t = re.sub(r'[:|;]', '', s)
  u = re.sub(r'[\\x]\W+|\d', '', t)
  v = re.sub(r'[\\x]\W+|\d', '', u)
  w = re.sub(r'[\\x]\w+', '', v)
  x = re.sub(r'    ', ' ', w)
  y = re.sub(r'   ', ' ', x)
  z = re.sub(r'  ', ' ', y)
  ProcessedTweet = z.lower()
  return ProcessedTweet

In [ ]:
hot.tweets[324], preprocess(hot.tweets[324])

('user member of chutia brigade forgot sikh massacre of ',
 'user member of chutia brigade forgot sikh massacre of ')

In [ ]:
for i in range(hot.shape[0]):
  text = hot.tweets[i]
  preprocessed = preprocess(text)
  hot.tweets[i] = preprocessed

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# hot.to_csv('/content/drive/My Drive/Glue Labs/Data-Abuse/MultiLingual/HOT.csv')
hot.head()

   isoffensive                                             tweets
0          2.0  banti hai empowered woman, feminism pe gyan pe...
1          2.0  user user user ab usko chhod mjse bat kr tera ...
2          2.0  user user user punjab in madarchodon ko khila ...
3          2.0  user agar koi bole ki ja ke chill maar to mada...
4          1.0  user user user main jutt punjabi hoon aur paka...

In [ ]:
# The link to the Tamil and Malayalam datasets: https://dravidian-codemix.github.io/2020/datasets.html

tamiltrain = pd.read_csv("/content/drive/My Drive/Glue Labs/Data-Abuse/multilingual/tamil_train.tsv", sep = '\t')
malayalamtrain = pd.read_csv("/content/drive/My Drive/Glue Labs/Data-Abuse/multilingual/malayalam_train.tsv", sep = '\t')

In [ ]:
malayalamtrain.head()

                                                text   category
0             hoo mammokka police vesham aaha anthas  Positive
1     Oru rekshayum illa...kidilam kannu nananjupoyi  Positive
2                          Ikka     waiting.........  Positive
3             Raju Ettante Oro Shorttum Ijathi ppwli  Positive
4   Ettan fansil netti poya aarenkilum undo?    #...  Positive

In [ ]:
posindex = (malayalamtrain[malayalamtrain['category'] != 'Negative ']).index
negindex = (malayalamtrain[malayalamtrain['category'] == 'Negative ']).index

In [ ]:
for i in posindex:
  malayalamtrain['category'].iloc[i] = float(1)

for i in negindex:
  malayalamtrain['category'].iloc[i] = float(2)

malayalamtrain

                                                   text category
0                hoo mammokka police vesham aaha anthas        1
1        Oru rekshayum illa...kidilam kannu nananjupoyi        1
2                             Ikka     waiting.........        1
3                Raju Ettante Oro Shorttum Ijathi ppwli        1
4      Ettan fansil netti poya aarenkilum undo?    #...        1
...                                                 ...      ...
4846   Madhuraraja trailer Kand ivide vannanvar likkeee        1
4847   Njn pru lalettan fan ahn..  eee trailer mass ...        1
4848   Valiya pratheesha illa nalla entertainment  a...        1
4849   Dislike adikkunna kazhuthakalude mukhath adik...        2
4850   Adipoli..... Pakshe oru sankadam ithinte thir...        1

[4851 rows x 2 columns]

In [ ]:
posindex = (tamiltrain[tamiltrain['category'] != 'Negative ']).index
negindex = (tamiltrain[tamiltrain['category'] == 'Negative ']).index

In [ ]:
for i in posindex:
  tamiltrain['category'].iloc[i] = float(1)

for i in negindex:
  tamiltrain['category'].iloc[i] = float(2)

tamiltrain

                                                    text category
0               Trailer late ah parthavanga like podunga        1
1             Move pathutu vanthu trailer pakurvnga yaru        1
2               Puthupetai dhanush  ah yarellam pathinga        1
3       Dhanush oda character ,puthu sa erukay , mass ta        1
4       vera level ippa pesungada mokka nu thalaivaaaaaa        1
...                                                  ...      ...
11330         Yuvan shankar Raja anna fan's like here...        1
11331    A masterpiece best revenge film I’ve ever scene        1
11332              Enna pa thala ya kamiya than katringa        1
11333                            R A A S H I K H A N N A        1
11334   Trailer la nalla thaan iruku ana sound thaan ...        1

[11335 rows x 2 columns]

In [ ]:
tamilmala = pd.concat([tamiltrain, malayalamtrain], axis = 0)
tamilmala.index = range(16186)

In [ ]:
tamilmala

                                                    text category
0               Trailer late ah parthavanga like podunga        1
1             Move pathutu vanthu trailer pakurvnga yaru        1
2               Puthupetai dhanush  ah yarellam pathinga        1
3       Dhanush oda character ,puthu sa erukay , mass ta        1
4       vera level ippa pesungada mokka nu thalaivaaaaaa        1
...                                                  ...      ...
16181   Madhuraraja trailer Kand ivide vannanvar likkeee        1
16182   Njn pru lalettan fan ahn..  eee trailer mass ...        1
16183   Valiya pratheesha illa nalla entertainment  a...        1
16184   Dislike adikkunna kazhuthakalude mukhath adik...        2
16185   Adipoli..... Pakshe oru sankadam ithinte thir...        1

[16186 rows x 2 columns]

In [ ]:
#tamilmala.to_csv("/content/drive/My Drive/Glue Labs/Data-Abuse/MultiLingual/tamilmala")

Importing some data from https://github.com/t-davidson/hate-speech-and-offensive-language because its a lot of offensive tweets data, useful.

In [ ]:
!wget https://raw.githubusercontent.com/t-davidson/hate-speech-and-offensive-language/master/data/labeled_data.csv

--2020-10-09 02:54:43--  https://raw.githubusercontent.com/t-davidson/hate-speech-and-offensive-language/master/data/labeled_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2546446 (2.4M) [text/plain]
Saving to: ‘labeled_data.csv’

labeled_data.csv    100%[===================>]   2.43M  10.1MB/s    in 0.2s

2020-10-09 02:54:43 (10.1 MB/s) - ‘labeled_data.csv’ saved [2546446/2546446]

In [ ]:
data = pd.read_csv("/content/labeled_data.csv")
data.head()

   Unnamed: 0  count  ...  class                                              tweet
0           0      3  ...      2  !!! RT @mayasolovely: As a woman you shouldn't...
1           1      3  ...      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2           2      3  ...      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3           3      3  ...      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4           4      6  ...      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

[5 rows x 7 columns]

In [ ]:
data.shape

(24783, 7)

In [ ]:
data[data['class'] == 1].tweet

1        !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2        !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3        !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4        !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5        !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
                               ...
24774    you really care bout dis bitch. my dick all in...
24775     you worried bout other bitches, you need me for?
24778    you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24780    young buck wanna eat!!.. dat nigguh like I ain...
24781                youu got wild bitches tellin you lies
Name: tweet, Length: 19190, dtype: object

In [ ]:
data.tweet[24777]

"you're such a retard i hope you get type 2 diabetes and die from a sugar rush you fucking faggot @Dare_ILK"

In [ ]:
data[data['class'] == 2].tweet

0        !!! RT @mayasolovely: As a woman you shouldn't...
40         " momma said no pussy cats inside my doghouse "
63       "@Addicted2Guys: -SimplyAddictedToGuys http://...
66       "@AllAboutManFeet: http://t.co/3gzUpfuMev" woo...
67       "@Allyhaaaaa: Lemmie eat a Oreo &amp; do these...
                               ...
24736    yaya ho.. cute avi tho RT @ViVaLa_Ari I had no...
24737    yea so about @N_tel 's new friend.. all my fri...
24767    you know what they say, the early bird gets th...
24779    you've gone and broke the wrong heart baby, an...
24782    ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...
Name: tweet, Length: 4163, dtype: object

In [ ]:
original = data.copy()
for i in data.index:
  text = data.tweet.loc[i]
  data.tweet.loc[i] = preprocess(text)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
stwoindex = data[data["class"] == 2].index
oneindex = data[data["class"] == 1].index
zeroindex = data[data["class"] == 0].index


for i in twoindex:
  data['class'].loc[i] = 'No'

for i in oneindex:
  data['class'].loc[i] = 'Yes'

for i in zeroindex:
  data['class'].loc[i] = 'Yes'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
data.tweet[2], original.tweet[2]

(' user dawg user you ever fuck a bitch and she start to cry? you be confused as shit',
 '!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby4life: You ever fuck a bitch and she start to cry? You be confused as shit')

In [ ]:
data.tweet[4], original.tweet[4]

(' user the shit you hear about me might be true or it might be faker than the bitch who told it to ya &',
 '!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you hear about me might be true or it might be faker than the bitch who told it to ya &#57361;')

In [ ]:
data.tweet[2123], original.tweet[2123]

("' you niggahs actin like hoes , i can sale those ",
 "' You niggahs actin like hoes , I can sale those ! &#1041204;&#1041204;&#1041636;")

In [ ]:
data = data.sample(n = data.shape[0])

In [ ]:
data.index = range(24783)

In [ ]:
data.drop(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither'], axis = 1, inplace = True)

In [ ]:
data

      class                                              tweet
0       Yes  user translation "i like how i dont really hav...
1       Yes  user user bitch, bye user dawg look at this sh...
2        No  user i'm so hungry if someone would send me a ...
3       Yes  for about the last hour of getting my stomach ...
4       Yes                             i won't trust a bitch
...     ...                                                ...
24778   Yes                       yeah you bad but hoe so what
24779   Yes    ladies if your head game better than your pussy
24780   Yes  when niggas say they like latinas they don't m...
24781    No  "bae" sounds like such a ghetto word. use some...
24782   Yes  user don't be on here and saying "all my frien...

[24783 rows x 2 columns]

Since the number of clean tweets are comparitively less how about I add some more clean english text from somewhere.

In [ ]:
!wget

In [ ]:
valid = data[-4783:]
train = data[:20000]

data.to_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/data.csv")
train.to_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/train.csv")
valid.to_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/validENG.csv")

In [ ]:
#!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00380/YouTube-Spam-Collection-v1.zip

In [ ]:
#!unzip /content/YouTube-Spam-Collection-v1.zip

In [ ]:
a = pd.read_csv("/content/Youtube01-Psy.csv")
b = pd.read_csv("/content/Youtube02-KatyPerry.csv")
c = pd.read_csv("/content/Youtube03-LMFAO.csv")
d = pd.read_csv("/content/Youtube04-Eminem.csv")
e = pd.read_csv("/content/Youtube05-Shakira.csv")

In [ ]:
a = a[a['CLASS'] == 0]
b = b[b['CLASS'] == 0]
c = c[c['CLASS'] == 0]
d = d[d['CLASS'] == 0]
e = e[e['CLASS'] == 0]

cleantext = pd.concat([a, b, c, d, e], axis = 0)

In [ ]:
cleantext.drop(['COMMENT_ID', 'AUTHOR', 'DATE', 'CLASS'], axis = 1, inplace = True)

In [ ]:
data = pd.read_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/newdata.csv")
newdata

      class                                              tweet
0        No  i turned it on mute as soon is i came on i jus...
1        No                       I'm only checking the views﻿
2        No  i think about 100 millions of the views come f...
3        No                           just checking the views﻿
4        No  I dont even watch it anymore i just come here ...
...     ...                                                ...
24778   Yes                       yeah you bad but hoe so what
24779   Yes    ladies if your head game better than your pussy
24780   Yes  when niggas say they like latinas they don't m...
24781    No  "bae" sounds like such a ghetto word. use some...
24782   Yes  user don't be on here and saying "all my frien...

[25734 rows x 2 columns]

In [ ]:
cleantext.index = range(cleantext.shape[0])

In [ ]:
cleantext.columns = ['tweet']

In [ ]:
no = ['No']*951
no = pd.DataFrame(no, columns = ['class'])
moredata = pd.concat([no, cleantext], axis = 1)

In [ ]:
data.drop(['Unnamed: 0'], axis = 1, inplace = True)

newdata = pd.concat([moredata, data], axis = 0)

In [ ]:
newdata.to_csv('/content/drive/My Drive/Glue Labs/Abuse Model #11 English/newdata.csv')

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip

--2020-10-09 05:20:27--  https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 203415 (199K) [application/x-httpd-php]
Saving to: ‘smsspamcollection.zip’

smsspamcollection.z 100%[===================>] 198.65K   766KB/s    in 0.3s

2020-10-09 05:20:28 (766 KB/s) - ‘smsspamcollection.zip’ saved [203415/203415]

In [ ]:
!unzip /content/arc.zip

Archive:  /content/arc.zip
  inflating: spam.csv

In [ ]:
sms = pd.read_csv("/content/spam1.csv")
sms.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
cleansms = sms[sms['v1'] == 'ham']
for i in cleansms.index:
  cleansms.v1.loc[i] = 'No'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
cleansms.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace = True, axis = 1)

In [ ]:
cleansms.columns = ['class', 'tweet']

In [ ]:
for i in cleansms.index:
  text = cleansms.tweet.loc[i]
  cleansms.tweet.loc[i] = preprocess(text)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
newdata = pd.concat([newdata, cleansms], axis = 0)

In [ ]:
newdata.shape

(30559, 2)

In [ ]:
newdata = newdata.sample(n = 30559)

In [ ]:
newdata.to_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/newdata.csv")

In [ ]:
valid = newdata[-5559:]
train = newdata[:25000]
valid.to_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/valid.csv")
train.to_csv("/content/drive/My Drive/Glue Labs/Abuse Model #11 English/train.csv")